.Rproj.user
.Rhistory
.RData
.Ruserdata
*.zip
*.txt
*.csv

Scripts/assignment_2_conflict_merge.Rmd
Scripts/assignment_2_conflict_merge2.Rmd
Scripts/assignment_2_RB.Rmd
Scripts/assignment_2_RB2.Rmd
Scripts/assignment_2_RB3.Rmd
Scripts/Old_version.RMD
