.Rproj.user
.Rhistory
.RData
.Ruserdata

# Specific files not required. (Author: Vince Currie.)
*.zip
*.txt

# Backup files not required in GitHub. (Author: Vince Currie.)
Scripts/assignment_2_conflict_merge.Rmd
Scripts/assignment_2_conflict_merge2.Rmd
Scripts/assignment_2_RB.Rmd
Scripts/assignment_2_RB2.Rmd
Scripts/assignment_2 _RB2.Rmd
Scripts/assignment_2_RB3.Rmd
Scripts/Old_version.RMD

# Copies of data files not required in GitHub. (Authoor: Vince Currie.)
Data/Gender_education_area2015_2022_old2.csv
Data/Gender_education_area2015_2022_old2_dummy.csv
Data/Gender_education_area2022_arch.csv
Data/Gender_education_area.csv
